<header data-section-id="{{ section.id }}" data-section-type="header-section" role="banner" class="header">
  {% if template.name == 'index' %}
    <h1 itemscope itemtype="http://schema.org/Organization">
  {% else %}
    <div class="h1" itemscope itemtype="http://schema.org/Organization">
  {% endif %}
  <a href="/" itemprop="url" class="header__logo">
    <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
  </a>
  {% if template.name == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}

  <button class="hamburger toggle-nav js-toggle-nav">
    <span class="hamburger__box">
      <span class="hamburger__inner"></span>
    </span>
  </button>

 {% unless section.settings.header_layout == 'mobile' %}
    {% include 'main-navigation-test' %}
    {% endunless %}

  {% if shop.customer_accounts_enabled %}
    <ul class="header__account-nav">
      {% if customer %}
        <li>
          {% if customer.first_name != blank %}
            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
          {% else %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
        </li>
        <li>
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </li>
      {% else %}
        <li>
          {{ 'layout.customer.log_in' | t | customer_login_link }}
        </li>
        <li>
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </li>
      {% endif %}
    </ul>
  {% endif %}

  <a class="header__cart" href="/cart">
    {% include 'icon-cart' %}
    {% if cart.item_count > 0 %}
      {% assign cart_count = 0 %}
      {% for item in cart.items %}
        {% if item.product.tags contains 'hidden' %}
        {% else %}
          {% assign cart_count = cart_count | plus: item.quantity %}
        {% endif %}
      {% endfor %}
      ({{ cart_count }})
    {% endif %}
  </a>

</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
		"default": "main-menu"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "select",
        "id": "nav_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "left",
            "label": "Left-aligned"
          }
        ],
        "default": "left"
      },
      {
   "type":      "select",
   "id":        "collumns",
   "label":     "How you want the menus to display",
   "options": [
     {
       "value": "uk-navbar-dropdown-width-2",
       "label": "2 Columns"
     },
     {
      
       "value": "uk-navbar-dropdown-width-3",
       "label": "3 Columns"
     }, 
     {
      
       "value": "",
       "label": "Justify"
     }
   ],
   "default":   "uk-navbar-dropdown-width-2",
   "info":      "2 Columns Default"
},
      {
        "type": "checkbox",
        "id": "nav_show_images",
        "label": "Show collection images in dropdown navigation",
        "info": "Works only on desktop."
      },
      {
        "type": "header",
        "content": "Full width dropdown"
      },
      {
        "type": "text",
        "id": "nav_uber_name",
        "label": "Name of menu link to show under",
		"info": "This is case-sensitive"
      },
      {
        "type": "text",
        "id": "nav_uber_list_1_title",
        "label": "Column 1 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_1",
        "label": "Column 1 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_2_title",
        "label": "Column 2 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_2",
        "label": "Column 2 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_3_title",
        "label": "Column 3 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_3",
        "label": "Column 3 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_4_title",
        "label": "Column 4 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_4",
        "label": "Column 4 menu"
      }
	]
  }
{% endschema %}
