<div class="uk-container uk-margin">
<nav role="navigation" class="uk-visible@m uk-navbar-transparent uk-navbar-container uk-margin uk-navbar-{{ section.settings.nav_alignment }}" uk-navbar>
    <div class="uk-navbar-left">
           <ul class="uk-navbar-nav uk-navbar-dropdown-nav">
              {% for link in linklists[section.settings.menu_linklist].links %}
    
                 {% assign has_drop_down = false %}
                 {% assign link_title = link.title %}
                 {% if link_title == section.settings.nav_uber_name %}
                   {% assign dropdown_style = section.settings.columns %}                        		
                   {% assign has_drop_down = true %}
                 {% endif %}
             
                 
                 {% comment %} 2 Column dropdown {% endcomment %}               
                 <li>
                   <a href="#" {% if has_drop_down %}uk-icon="icon:chevron-down" {% endif %}>{{ link.title }} </a>
                    {% if has_drop_down and dropdown_style == 'dropdown-width-2' %}
                      <div class="uk-navbar-dropdown  {% if has_drop_down %}uk-navbar-{{ dropdown_style }}{% endif %}">
                         <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                            {% if section.settings.nav_uber_list_1 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_1_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_2 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_2_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
                            {% endif %}


                    	</div>
                     </div>
                   {% comment %}1 Column dropdown (with image) {% endcomment %}          
                     {% elsif has_drop_down and dropdown_style == 'dropdown-1-with-image' %}  
                       <div class="class="uk-navbar-dropdown" uk-drop="cls-drop: uk-navbar-dropdown; boundary: !nav; boundary-align: true; pos: bottom-justify; flip: x"">
                          <div class="uk-navbar-dropdown-grid uk-child-width-1-2@m" uk-grid>
                            {% if section.settings.nav_uber_list_1 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_1_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
                            {% endif %}
                             {% if section.settings.nav_show_images %}<div class="img"><img src="{{ section.settings.nav_image | img_url: 'large' }}" /> </div>{% endif %}
                            
							

                    		</div>
                      </div>
                              
                               {% comment %}2 Column dropdown (with image) {% endcomment %}          
                     {% elsif has_drop_down and dropdown_style == 'dropdown-2-with-image' %}  
                       <div class="class="uk-navbar-dropdown" uk-drop="cls-drop: uk-navbar-dropdown; boundary: !nav; boundary-align: true; pos: bottom-justify; flip: x"">
                          <div class="uk-navbar-dropdown-grid uk-child-width-1-3@m" uk-grid>
                            {% if section.settings.nav_uber_list_1 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_1_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_2 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_2_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
                            {% endif %}
                             {% if section.settings.nav_show_images %}<div class="img"><img src="{{ section.settings.nav_image | img_url: 'large' }}" /> </div>{% endif %}
                            
							

                    		</div>
                      </div>
                   
                   
                     {% comment %}3 Column dropdown (Justified) {% endcomment %}          
                     {% elsif has_drop_down and dropdown_style == 'dropdown-boundary' %}  
                       <div class="class="uk-navbar-dropdown" uk-drop="cls-drop: uk-navbar-dropdown; boundary: !nav; boundary-align: true; pos: bottom-justify; flip: x"">
                          <div class="uk-navbar-dropdown-grid uk-child-width-1-3@m" uk-grid>
                            {% if section.settings.nav_uber_list_1 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_1_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_2 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_2_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_3 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_3_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_3 %}
                            {% endif %}



                    		</div>
                      </div>
                           
                   
                   
                                        {% comment %}3 Column dropdown (with image) {% endcomment %}          
                     {% elsif has_drop_down and dropdown_style == 'dropdown-3-with-image' %}  
                       <div class="class="uk-navbar-dropdown" uk-drop="cls-drop: uk-navbar-dropdown; boundary: !nav; boundary-align: true; pos: bottom-justify; flip: x"">
                          <div class="uk-navbar-dropdown-grid uk-child-width-1-4@m" uk-grid>
                            {% if section.settings.nav_uber_list_1 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_1_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_2 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_2_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_3 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_3_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_3 %}
                            {% endif %}
                             {% if section.settings.nav_show_images %}<div class="img"><img src="{{ section.settings.nav_image | img_url: 'large' }}" /> </div>{% endif %}
                            
							

                    		</div>
                      </div>
                   
                                        {% comment %}4 Column dropdown (Justified) {% endcomment %}          
                     {% elsif has_drop_down and dropdown_style == 'dropdown-boundary-4' %}  
                       <div class="class="uk-navbar-dropdown" uk-drop="cls-drop: uk-navbar-dropdown; boundary: !nav; boundary-align: true; pos: bottom-justify; flip: x"">
                          <div class="uk-navbar-dropdown-grid uk-child-width-1-4@m" uk-grid>
                            {% if section.settings.nav_uber_list_1 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_1_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_2 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_2_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_3 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_3_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_3 %}
                            {% endif %}
                            {% if section.settings.nav_uber_list_4 != blank %}
                              {% assign list_title = section.settings.nav_uber_list_4_title %}
                              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_4 %}
                            {% endif %}
                            
							

                    		</div>
                      </div>
                               
                                   
                                  
                     </li>
                                     
                      
                           
                    {% endif %}
                                    
                         
                 {% endfor %}
</nav>
  </div>
